---    
layout: docs    
title: Vérification de la passerelle iFemtocell    
description: Vérification de la passerelle iFemtocell    
lang: fr
translation_of: docs/2/installer/devices/ifemtocell-gateway-verification.md
translations:
  en: /docs/2/installer/devices/ifemtocell-gateway-verification
  fr: /docs/2/fr/installer/devices/ifemtocell-gateway-verification
toc: true    
---    
---------------------------------------    
### Vérification matérielle de la passerelle iFemtocell

Lors de la vérification qu'une passerelle est en ligne :

-   Confirmez que la passerelle est connectée à une source d'alimentation

-   Confirmez que l'antenne est entièrement vissée sur la passerelle et orientée loin des murs

-   Confirmez que les deux premiers voyants LED de la passerelle sont verts fixes

Pour réinitialiser une passerelle :

1.  Débranchez la passerelle

2.  Attendez 30 secondes
