---    
layout: docs    
title: iFemtocell Gateway Verification    
description: iFemtocell Gateway Verification    
toc: true    
---    
---------------------------------------    
### iFemtocell Gateway Hardware Verification

When checking if a gateway is online:

-   Confirm gateway is connected to a power source

-   Confirm antenna is fully screwed into gateway and facing away from
    walls

-   Confirm first two gateway LEDs are solid green

To reset a gateway:

1.  Unplug the gateway

2.  Wait 30 seconds
