<!-- page-wrapper -->
    <!-- using online scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
    <script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/pages_prism.min.js"></script>
    <!-- using local scripts -->
    <!-- <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script> -->
    <script src="{{ site.baseurl }}/assets/js/pages_main.js"></script>

    <script src="{{ site.baseurl }}/assets/js/toc.js"></script>


    <script>
      // Function to get URL parameters
      function getUrlParams() {
        const params = new URLSearchParams(window.location.search);
        return params;
      }

      // Check if hideFrame is true
      const params = getUrlParams();
      console.log("params", params);
      const hideFrame = params.get('hideFrame') === 'true';
      console.log("hideFrame", hideFrame);

      if (hideFrame) {
        const header = document.querySelector('.sidebar-wrapper');
        const navbarDocs = document.querySelector('.docs-navbar');
        const navbar = document.querySelector('.navbar');
        const aside = document.querySelector('.docs-aside');
        const pageContent = document.querySelector('.page-content')
        const pageWrapper = document.querySelector('.page-wrapper')
        const mainContent = document.querySelector('.main-content')
        const rowText = document.querySelector('.container-fluid > div')
        const iFrameContainer = document.querySelector('.iframe-container')
        
        if (header) header.style.display = 'none';
        if (navbarDocs) navbarDocs.style.display = 'none';
        if (navbar) navbar.style.display = 'none';
        if (aside) aside.style.display = 'none';
        if (pageContent) pageContent.style.padding = '0';
        if (pageWrapper) pageWrapper.style.padding = '0';
        if (mainContent) mainContent.style.maxWidth = "100vw";
        if (iFrameContainer) mainContent.style.height = "100vh";
        if (rowText) rowText.style.display = "block";
      }
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#toc').toc({
              listType: 'ul',
              noBackToTopLinks: true,
              title: '',
              minimumHeaders: 1,
              headers: 'h2, h3',
              classes: {
                list: 'toc-list',
                item: 'toc-item'
              }
            });
        });
      </script>

<script>
  $(".highlighter-rouge").removeClass("language-plaintext");
</script>
