{% include docs-url-parts.html %}
<div class=" sidebar-item sidebar-menu">
    <ul>
        <li class="header-menu">
        <div class="dropdown">
            {% for group in site.data.docs %}

                {% assign group_slug = group.title | slugify %}

                {% if docs_page_main_group == group_slug %}
                    <button class="btn btn-sm text-microshare-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span data-docs-menu-key="{{ group_slug }}" data-docs-menu-default="{{ group.title }}">{% include docs-menu-label.html key=group_slug default=group.title %}</span>
                    </button>
                {% endif%}
            {% endfor %}
            
            <div class="dropdown-menu bg-microshare dropdown-menu-left" aria-labelledby="dropdownMenuButton">
            
            {% for group in site.data.docs %}

                {% assign group_slug = group.title | slugify %}

                {% if docs_page_main_group != group_slug %}
                    <a class="dropdown-item text-white bg-hover-microshare-light" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ docs_locale_prefix }}{{group_slug}}/"><span data-docs-menu-key="{{ group_slug }}" data-docs-menu-default="{{ group.title }}">{% include docs-menu-label.html key=group_slug default=group.title %}</span></a>
                {% endif%}
            {% endfor %}
                </div>
            </div>
        </li>


{% for group in site.data.docs %}
    
    {% assign group_slug = group.title | slugify %}

    {% if docs_page_main_group == group_slug %}

        {% for page in group.pages %}
                {% assign page_slug = page.title | slugify %}
                {% if page.url %}
                  {% assign menu_item_key = page.url | remove: '/docs/2/' %}
                  {% assign menu_item_href = page.url | remove: '/docs/2/' %}
                {% else %}
                  {% assign menu_item_key = group_slug | append: '/' | append: page_slug %}
                  {% assign menu_item_href = group_slug | append: '/' | append: page_slug %}
                {% endif %}

                {% assign active = nil %}

                {% if page_slug == docs_page_sub_group %}
                    {% assign active = 'active' %}
                {% endif %}

                <li class="{{active}}">
                    <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ docs_locale_prefix }}{{ menu_item_href }}"> <i class="fa fa-{{ group.logo }}"></i> <span class="menu-text" data-docs-menu-key="{{ menu_item_key }}" data-docs-menu-default="{{ page.title }}">{% include docs-menu-label.html key=menu_item_key default=page.title %}</span>{% if page.product %}{% include product-badge.html product=page.product %}{% endif %} </a>
                </li>

        {% endfor %}

        {% for subgroup in group.subpages %}

                {% assign subgroup_slug = subgroup.title | slugify %}
                {% assign subgroup_key = group_slug | append: '/' | append: subgroup_slug %}

                {% assign active = nil %}

                {% if subgroup_slug == docs_page_sub_group %}
                    {% assign active = 'active' %}
                {% endif %}

                <li class="sidebar-dropdown {{active}}">
                    <a href="#"> <i class="fa fa-{{ group.logo }}"></i> <span class="menu-text" data-docs-menu-key="{{ subgroup_key }}" data-docs-menu-default="{{ subgroup.title }}">{% include docs-menu-label.html key=subgroup_key default=subgroup.title %}</span></a>
                    <div class="sidebar-submenu" {% if active %}style="display: block;"{% endif %}>
                        <ul>

                            {% for subpage in subgroup.pages %}

                                {% assign subpage_slug = subpage.title | slugify %}
                                {% if subpage.url %}
                                  {% assign menu_item_key = subpage.url | remove: '/docs/2/' %}
                                  {% assign menu_item_href = subpage.url | remove: '/docs/2/' %}
                                {% else %}
                                  {% assign menu_item_key = group_slug | append: '/' | append: subgroup_slug | append: '/' | append: subpage_slug %}
                                  {% assign menu_item_href = group_slug | append: '/' | append: subgroup_slug | append: '/' | append: subpage_slug %}
                                {% endif %}

                                {% assign active = nil %}

                                {% if subgroup_slug == docs_page_sub_group and subpage_slug == docs_page_sub_sub_group %}
                                    {% assign active = 'active' %}
                                {% endif %}

                                <li class={{active}}> <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ docs_locale_prefix }}{{ menu_item_href }}"><span data-docs-menu-key="{{ menu_item_key }}" data-docs-menu-default="{{ subpage.title }}">{% include docs-menu-label.html key=menu_item_key default=subpage.title %}</span>{% if subpage.product %}{% include product-badge.html product=subpage.product %}{% endif %}</a> </li>
                            {% endfor %}

                        </ul>
                    </div>
                </li>

        {% endfor %}

    {% endif %}
{% endfor %}
    </ul>
</div>
