<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content" style="overflow: visible;">
        <!-- sidebar-brand  -->
        <div class="sidebar-item sidebar-brand text-white font-weight-bold" style="overflow: visible;"></div>
        <!-- sidebar-header  -->
        <!-- sidebar-search  -->
        <div class="sidebar-item sidebar-search" style="overflow: visible;">
            <div style="overflow: visible;">
                <div id="searchForm" class="input-group" style="overflow: visible;">
                    <input autocomplete="off" id="search" type="text" class="form-control search-menu" placeholder="Search...">
                    <div class="input-group-append"> <span class="input-group-text">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span> </div>
                    <div id="searchDropdown" class="dropdown-menu bg-microshare" style="z-index: 10000;">
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar-menu  -->
        {% include docs-sidebar-content.html %}
        <!-- sidebar-menu  -->
    </div>
</nav>