<!-- JS Global Compulsory -->
<script src="{{ site.baseurl }}/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="{{ site.baseurl }}/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- JS -->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

<script>
    $(".highlighter-rouge").removeClass("language-plaintext");
</script>
