<head>
    <!-- Title -->
    <title>Documentation-M</title>
    
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41580291-4"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-41580291-4');
      </script>
    
      <!-- Favicons -->
      <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
      <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    
      <meta charset="utf-8">
  
    <!--  Meta tags -->
    <meta name="keywords" content="microshare,documentation,iot,devices,api,demo,data">
    <meta name="description" content="Welcome to the Microshare documentation">
  
    
    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
  
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  
    <!-- CSS Template -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index_theme.css">
  
    <!-- CSS Demo -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index_demo.css">
  </head>