<!DOCTYPE html>
<html
  lang="{{ page.lang | default: 'en' }}"
  {% if page.locale_fallback %}data-locale-fallback="true"{% endif %}
  data-pdf-title="{{ page.title | default: site.title | escape }}"
  data-pdf-library-url="{{ '/assets/vendor/pdfmake/pdfmake.min.js' | relative_url }}?v=0.3.10"
  data-pdf-fonts-url="{{ '/assets/vendor/pdfmake/vfs_fonts.js' | relative_url }}?v=0.3.10"
  {% if page.pdf %}data-pdf-url="{{ page.pdf | relative_url | escape }}"{% endif %}
>
  <meta name="description" content="{{page.description}}">
  <meta name="keyword" content="documentation,microshare,{{ page.title | split : ","}}">
  {% include docs-header.html %}
<body>
    {{ content }}
</body>
{% include docs-scripts.html %}
{% include search-engine.html %}
</html>

<style>
#mCSB_1,#mCSB_1_container {
  overflow:visible !important;
}
</style>
