---
layout: base
---

{% unless page.embed %}
  {% include docs-navbar.html %}
{% endunless %}

<div class="page-wrapper toggled light-theme" {% unless page.embed %}style="padding-top: 60px;"{% endunless %}>
    {% unless page.embed %}
        {% include docs-sidebar.html %}
    {% endunless %}
    
    <!-- page-content  -->
    <main class="page-content">
        <div id="overlay" class="overlay"></div>
        <div class="container-fluid">
            <div class="row {% unless page.embed %}p-lg-4{% endunless %}">
                <article class="main-content {% unless page.embed %}col-md-9 pr-lg-5{% endunless %}">
                    <h1 class="text-microshare-dark mt-2">{{ page.title }}</h1>
                    <h6 class="text-microshare-light">{{ page.description }}</h6>
                    <hr class="text-microshare-light" class="p-1 my-2">
                    {{ content }}
                    {% unless page.embed %}
                        {% include content-footer.html %}
                    {% endunless %}
                </article>
                {% unless page.embed %}
                    <aside id="docs-aside" class="docs-aside col-md-3">
                        {% include docs-aside.html %}
                    </aside>
                {% endunless %}
            </div>
        </div>
    </main>
    <!-- page-content" -->
</div>
