<!DOCTYPE html>
<html lang="en">

  {% include docs-header.html %}
<body>
  {% include docs-navbar.html %}
    <div class="page-wrapper toggled light-theme"  style="padding-top: 40px;">
        {% include docs-sidebar.html %}
        <!-- page-content  -->
        <main class="page-content">
            <div id="overlay" class="overlay"></div>
            <div class="container-fluid">
                <div class="row p-lg-4">
                    <article class="main-content col-md-9 pr-lg-5">
                      <h2 class="text-microshare-dark mt-2">{{ page.title }}</h2>
                      <h6 class="text-microshare-light">{{ page.description }}</h6>
                        <hr class="text-microshare-light" class="p-1 my-2">
                      {{ content }}
                    </article>
                    {% include docs-aside.html %}
                </div>
            </div>
        </main>
        <!-- page-content" -->
    </div>
    
</body>
{% include docs-scripts.html %}
{% include search-engine.html %}
</html>

<style>
#mCSB_1,#mCSB_1_container {
  overflow:visible !important;
}

</style>
