<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173448502-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-173448502-1');
      </script>
      {% include header.html %}
  </head>
  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    {% include docs-navbar.html %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          {% include docs-sidebar.html %}
        </div>
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <h1 class="bd-title" id="content">{{ page.title }}</h1>
          <p class="bd-lead">{{ page.description }}</p>
          {{ content }}
        </main>

        {% if page.toc %}
          <div class="d-none d-xl-block col-xl-2 bd-toc">
            <div id="toc"></div>
          </div>
        {% endif %}
      </div>
    </div>

    {% include scripts.html %}

    <script type="text/javascript">
      $(document).ready(function() {
          $('#toc').toc({
            listType: 'ul',
            noBackToTopLinks: true,
            title: '',
            minimumHeaders: 1,
            headers: 'h2, h3, h4',
            classes: {
              list: 'toc-list',
              item: 'toc-item'
            }
          });
      });
    </script>
  </body>
</html>
