<!DOCTYPE html>
<html lang="en">
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="documentation,pdf,{{ page.title | split: ',' }}">
  {% include docs-header.html %}
  <script src="{{ site.baseurl }}/assets/js/docs-pdf-view.js" defer></script>
<body>
  {% unless page.embed %}
    {% include docs-navbar.html %}
  {% endunless %}
  <div class="page-wrapper toggled light-theme" {% unless page.embed %}style="padding-top: 60px;"{% endunless %}>
    {% unless page.embed %}
      {% include docs-sidebar.html %}
    {% endunless %}
    <!-- page-content  -->
    <main class="page-content">
      <div id="overlay" class="overlay"></div>
      <div id="docs-pdf-view">
        {% include docs-pdf-viewer.html %}
      </div>
    </main>
    <!-- page-content -->
  </div>
</body>
{% unless page.embed %}
  {% include docs-scripts.html %}
  {% include search-engine.html %}
{% endunless %}
</html>
